protobuf==3.20.0
torch
fastapi==0.61.2
uvicorn==0.12.2
websockets
gym
pandas
ray[default,rllib,tune]
stable_baselines3
ta
empyrical
colorlog
python-binance
mplfinance
fastapi==0.61.2
uvicorn==0.12.2
websockets
tk